Backend/.DS_Store
Backend/app/.DS_Store
Backend/app/trained_weights/**
**/__pycache__/
*.pyc
/Frontend/linux
/Frontend/macos
Backend/generated_code/_pycache_
Backend/generated_code/*.py
Backend/generated_code/*.json
